@import "tailwindcss";

@source "../../";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #0b50da;
    --color-background-light: #f5f6f8;
    --color-background-dark: #101622;
    --font-display: "Public Sans", sans-serif;
}
