@import "tailwindcss";

@source "../../";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #11d442;
    --color-secondary: #102215;
    --color-accent-neon: #00f2ff;
    --color-earth-brown: #4a3728;
    --color-forest-green: #1b4332;
    --color-warm-beige: #f5f1e9;
    --color-background-light: #f6f8f6;
    --color-background-dark: #102215;
    --font-display: "Inter", sans-serif;
}
