@import "tailwindcss";

@source "../../";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #00ffff;
    --color-accent-purple: #bc13fe;
    --color-background-light: #f5f8f8;
    --color-background-dark: #060b14;
    --font-display: "Space Grotesk", sans-serif;
}
