@import "tailwindcss";
@source "../../";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #11d452;
    --color-accent: #800020;
    --color-background-light: #fdfcf7;
    --color-background-dark: #0d1b12;
    --font-display: "Newsreader", serif;
}
