@import "tailwindcss";

@source "../../";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #256af4;
    --color-secondary: #101622;
    --color-accent-neon: #00f2ff;
    --color-background-light: #f5f6f8;
    --color-background-dark: #101622;
    --font-display: "Space Grotesk", sans-serif;
    --shadow-soft: 0 4px 20px rgba(37, 106, 244, 0.15);
}
