@import "tailwindcss";

@source "../../";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #b7860b;
    --color-background-light: #f8f7f5;
    --color-background-dark: #221d10;
    --font-display: "Work Sans", sans-serif;
}
