@import "tailwindcss";
@source "../../";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #3211d4;
    --color-accent-coral: #ff6b6b;
    --color-accent-teal: #20c997;
    --color-background-light: #f6f6f8;
    --color-background-dark: #131022;
    --font-display: "Inter", sans-serif;
    --shadow-soft: 0 4px 20px rgba(50, 17, 212, 0.15);
}
