@import "tailwindcss";
@source "../../";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #19191a;
    --color-accent-gold: #c5a059;
    --color-background-light: #f9f8f4;
    --color-background-dark: #121212;
    --color-sumi: #1c1c1c;
    --font-display: "Manrope", sans-serif;
    --font-serif-jp: "Noto Serif JP", serif;
}
